// Text Colors
$greyText: #333;
$bodyText: #505050;
$blueText: #0b3d6d;
$headerText: #f85804;
$altHeaderText: #005870;

// Button Colors
$black: #000;
$white: #fff;
$brown: #5e2f00;
$rust: #b04600;
$purple: #9e0093;
$yellow: #ffb200;
$green: #00b28c;
$blue: #003893;
$orange-notification: #f57a22;
$green-notification: #9da137;
$blue-notification: #0681b2;

$anchorColor: #0481b2;
$anchorHover: #9da137;

// Highlights
$highlightInfo: #000080;
$highlightBorder: #085191;
$listBulletColor: $yellow;
$highlightAccent: #fff500;
$toggleColor: $yellow;
$infoBorder: #c75902;

// Background Colors
$navBackground: #005870;
$heroBackground: #004355;
$footerBackground: #005870;
$col1Background: #f57a22;
$col2Background: #9da137;
$col3Background: #0681b2;

// Lines
$greyLine: #e0e0e0;
$yellowLine: #feb300;

// Tables
$headerBackground: #0b3d6d;
$tableTitle: #082948;
$tableHeader: #214f7b;
$tableStroke: #ddd;
$tableRowEven: #f2f2f2;
$tableRowHover: #fdf2cc;